<% if @stores.any? %>
  <ul class="media-list">
    <% @stores.each do |store| %>
      <li>
        <div>
          <%= link_to store_path(store) do %>
            <h4>・<%= store.name %></h4>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate @stores %>
<% end %>