<div class="row">
  <div class="col-xs-10"> 
  
    <div class="text-center">
　    <h3><%= @store.name %></h3>
　  </div>
　  
　  <% if @products.any? %>
　    <p>この店舗の商品</p>
　    <%= render "products/products", products: @products %>
　  <% else %>
　    <p>この店舗の商品はまだありません</p>
　  <% end %>
  </div>
</div>